$bg-body: #0d192c;
$bg-card: #15263f;
$bg-border: #2e405a;

$clr-primary: #ffffff;
$clr-secondary: #8bacd9;
$clr-active: rgb(0, 255, 248);
$clr-active-translucent: rgba(0, 255, 248, 0.5);

$rad: 10px;
